body{
    padding: 10px;
    background-color: antiquewhite;
    
}
.bar{
    display: flex;
    color: green;
    border-radius: 20px;
    margin: 5px;
    height: 20vh;
    justify-content: center;
    align-items: center;
    }
.left{
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
margin: 10px;
width: 45vw;
}
.right{
    background-color: white;
    border-radius: 20px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
margin: 10px;
width: 45vw;
}
.flex{
    border-radius: 20px;
background-color: beige;

margin: 10px;
padding: 20px;
width: 15vw;
height: 15vh;
justify-content: center;
align-items: center;
display: flex   ;
}

 .flex-container{
    display: flex;
    width: 95vw;
    border-radius: 20px;
    justify-content:space-around;
    
    
}
.h1{
    align-items: left;
    color:red;
}
